## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import numpy as np

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Cidreira,BR,-30.1811,-50.2056,75.18,78,3,18.10,clear sky
1,1,Hobart,AU,-42.8794,147.3294,61.11,63,75,8.05,broken clouds
2,2,Syracuse,IT,37.0881,15.2792,53.89,63,0,3.58,clear sky
3,3,Kruisfontein,ZA,-34.0033,24.7314,61.83,86,41,2.35,scattered clouds
4,4,Yellowknife,CA,62.4560,-114.3525,-8.59,81,75,11.50,broken clouds

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 65
What is the maximum temperature you would like for your trip? 90

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Cidreira,BR,-30.1811,-50.2056,75.18,78,3,18.10,clear sky
5,5,Carnarvon,AU,-24.8667,113.6333,78.87,73,75,8.05,broken clouds
6,6,Vaini,TO,-21.2000,-175.2000,81.52,81,83,21.88,broken clouds
7,7,Port Alfred,ZA,-33.5906,26.8910,70.48,80,87,8.32,overcast clouds
8,8,Butaritari,KI,3.0707,172.7902,81.37,79,30,17.90,scattered clouds
11,11,Rikitea,PF,-23.1203,-134.9692,79.32,71,65,17.94,broken clouds
13,13,Georgetown,MY,5.4112,100.3354,78.89,92,20,1.14,few clouds
20,20,Kapaa,US,22.0752,-159.3190,80.19,67,2,3.00,clear sky
22,22,Taoudenni,ML,22.6783,-3.9836,65.16,18,49,11.97,scattered clouds
23,23,Cape Town,ZA,-33.9258,18.4232,67.08,62,0,8.05,clear sky

In [13]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.isnull()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,False,False,False,False,False,False,False,False,False,False
5,False,False,False,False,False,False,False,False,False,False
6,False,False,False,False,False,False,False,False,False,False
7,False,False,False,False,False,False,False,False,False,False
8,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...
687,False,False,False,False,False,False,False,False,False,False
688,False,False,False,False,False,False,False,False,False,False
689,False,False,False,False,False,False,False,False,False,False
690,False,False,False,False,False,False,False,False,False,False
692,False,False,False,False,False,False,False,False,False,False

In [8]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
cleaned_cities_df = preferred_cities_df.dropna()
cleaned_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Cidreira,BR,-30.1811,-50.2056,75.18,78,3,18.10,clear sky
5,5,Carnarvon,AU,-24.8667,113.6333,78.87,73,75,8.05,broken clouds
6,6,Vaini,TO,-21.2000,-175.2000,81.52,81,83,21.88,broken clouds
7,7,Port Alfred,ZA,-33.5906,26.8910,70.48,80,87,8.32,overcast clouds
8,8,Butaritari,KI,3.0707,172.7902,81.37,79,30,17.90,scattered clouds
11,11,Rikitea,PF,-23.1203,-134.9692,79.32,71,65,17.94,broken clouds
13,13,Georgetown,MY,5.4112,100.3354,78.89,92,20,1.14,few clouds
20,20,Kapaa,US,22.0752,-159.3190,80.19,67,2,3.00,clear sky
22,22,Taoudenni,ML,22.6783,-3.9836,65.16,18,49,11.97,scattered clouds
23,23,Cape Town,ZA,-33.9258,18.4232,67.08,62,0,8.05,clear sky

In [10]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = cleaned_cities_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Cidreira,BR,75.18,clear sky,-30.1811,-50.2056,
5,Carnarvon,AU,78.87,broken clouds,-24.8667,113.6333,
6,Vaini,TO,81.52,broken clouds,-21.2000,-175.2000,
7,Port Alfred,ZA,70.48,overcast clouds,-33.5906,26.8910,
8,Butaritari,KI,81.37,scattered clouds,3.0707,172.7902,
11,Rikitea,PF,79.32,broken clouds,-23.1203,-134.9692,
13,Georgetown,MY,78.89,few clouds,5.4112,100.3354,
20,Kapaa,US,80.19,clear sky,22.0752,-159.3190,
22,Taoudenni,ML,65.16,scattered clouds,22.6783,-3.9836,
23,Cape Town,ZA,67.08,clear sky,-33.9258,18.4232,

In [12]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found...skipping the city.")
        hotel_df.loc[index, "Hotel Name"] = np.nan

Hotel not found...skipping the city.
Hotel not found...skipping the city.
Hotel not found...skipping the city.
Hotel not found...skipping the city.
Hotel not found...skipping the city.
Hotel not found...skipping the city.
Hotel not found...skipping the city.
Hotel not found...skipping the city.
Hotel not found...skipping the city.
Hotel not found...skipping the city.
Hotel not found...skipping the city.
Hotel not found...skipping the city.
Hotel not found...skipping the city.
Hotel not found...skipping the city.
Hotel not found...skipping the city.
Hotel not found...skipping the city.
Hotel not found...skipping the city.
Hotel not found...skipping the city.
Hotel not found...skipping the city.

In [14]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.dropna()

In [15]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [17]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [18]:
# 11a. Add a marker layer for each city to the map. 
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
markers = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(markers)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))